* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.service-list {
  width: 70%;
  margin: 0 auto;
  border-spacing: 0 1px;
  box-shadow: 0 0 20px #00000026;
  border-collapse: collapse;
  font-size: 0.9em;
}

.service:nth-child(even) {
  background-color: #e3e3e3;
}

.service {
  border-bottom: 1px solid #bbb;
  transition: background-color 0.3s ease-in-out;
}

.service:hover {
  background-color: #54b3d6;
  cursor: pointer;
}

.service td {
  padding: 10px 10px;
}

.service-number {
  overflow-wrap: break-word;
  max-width: 12ch;
}

.service-start-date,
.service-end-date,
.service-hour,
.service-status {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-list thead th {
  padding: 10px 10px;
}

.service-list thead tr {
  background-color: #009879;
  color: #ffffff;
}
