<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <aside class="aside" th:fragment="menu">
      <ul class="menu">
        <li class="menu-service-list"></li>
        <li class="menu-scheduler-from-file"></li>
        <li class="menu-scheduler-create"></li>
        <li class="menu-admin"></li>
        <li class="menu-logout"></li>
      </ul>
    </aside>
  </body>
</html>
