article {
  width: 85%;
  margin-left: 50px;
}

.main-container {
  display: flex;
  gap: 50px;
  align-items: start;
}

.scheduler {
  box-shadow: 0 0 20px #00000026;
}

.header-day {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  align-items: center;
  justify-content: space-around;
  background-color: #00987a;
}

.date-input,
.email-input,
.add-record,
.remove-day,
.clone-day {
  font-size: 16px;
  padding: 5px;
}

.add-record,
.remove-day,
.clone-day {
  background-color: #0dc79c;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
}

.add-record:hover,
.remove-day:hover,
.clone-day:hover {
  cursor: pointer;
  background-color: #0e37ab;
  color: white;
}

.day-hours {
  display: flex;
  gap: 5px;
}

.record-day {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #696969;
  padding: 10px 0;
}

.record-subject,
.record-start-time,
.record-end-time,
.remove-record {
  padding: 5px;
  font-size: 16px;
}

.remove-record {
  background-color: #0dc79c;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
}

.remove-record:hover {
  cursor: pointer;
  background-color: #0e37ab;
  color: white;
}

.buttons {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 50px;
}

.add-day,
.send-scheduler,
.save-scheduler {
  background-color: #0dc79c;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 16px;
}

.add-day:hover,
.send-scheduler:hover,
.save-scheduler:hover {
  cursor: pointer;
  background-color: #0e37ab;
  color: white;
}

.start-time-box,
.end-time-box {
  display: flex;
  gap: 5px;
  align-items: center;
}

.hidden {
  display: none;
}

.scheduler-hours {
  font-size: 18px;
  display: flex;
  gap: 5px;
}
