<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../static/services.js" />
    <title>Harmonogram BUR</title>
  </head>
  <body>
    <a class="service">
      <p class="service-number">a</p>
      <p class="service-location">a</p>
      <p class="service-start-date">a</p>
      <p class="service-end-date"></p>
      <p class="service-status"></p>
      <p class="service-hours"></p>
    </a>
  </body>
</html>
